<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>copter</key>
	<dict>
		<key>filename</key>
		<string>vg_64_64_tool_1.png</string>
		<key>x</key>
		<integer>512</integer>
		<key>y</key>
		<integer>192</integer>
		<key>width</key>
		<integer>64</integer>
		<key>height</key>
		<integer>64</integer>
		<key>isVisible</key>
		<true/>
		<key>name</key>
		<string>copter</string>
		<key>z</key>
		<integer>1</integer>
		<key>tag</key>
		<integer>2</integer>
	</dict>
	<key>loudspeaker</key>
	<dict>
		<key>filename</key>
		<string>vg_64_64_tool_2.png</string>
		<key>x</key>
		<integer>2304</integer>
		<key>y</key>
		<integer>512</integer>
		<key>width</key>
		<integer>64</integer>
		<key>height</key>
		<integer>64</integer>
		<key>isVisible</key>
		<true/>
		<key>name</key>
		<string>loudspeaker</string>
		<key>z</key>
		<integer>1</integer>
		<key>tag</key>
		<integer>3</integer>
	</dict>
	<key>shield</key>
	<dict>
		<key>filename</key>
		<string>vg_64_64_tool_3.png</string>
		<key>x</key>
		<integer>1664</integer>
		<key>y</key>
		<integer>-448</integer>
		<key>width</key>
		<integer>64</integer>
		<key>height</key>
		<integer>64</integer>
		<key>isVisible</key>
		<true/>
		<key>name</key>
		<string>shield</string>
		<key>z</key>
		<integer>1</integer>
		<key>tag</key>
		<integer>10</integer>
	</dict>
	<key>crossbow</key>
	<dict>
		<key>filename</key>
		<string>vg_64_64_tool_4.png</string>
		<key>x</key>
		<integer>256</integer>
		<key>y</key>
		<integer>-448</integer>
		<key>width</key>
		<integer>64</integer>
		<key>height</key>
		<integer>64</integer>
		<key>isVisible</key>
		<true/>
		<key>name</key>
		<string>crossbow</string>
		<key>z</key>
		<integer>1</integer>
		<key>tag</key>
		<integer>19</integer>
	</dict>
</dict>
</plist>
