<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bigmole</key>
	<dict>
		<key>filename</key>
		<string>vg_256_320_BigMole_Right.png</string>
		<key>x</key>
		<integer>256</integer>
		<key>y</key>
		<integer>-352</integer>
		<key>width</key>
		<integer>256</integer>
		<key>height</key>
		<integer>320</integer>
		<key>isVisible</key>
		<true/>
		<key>name</key>
		<string>bigmole</string>
		<key>z</key>
		<integer>1</integer>
		<key>tag</key>
		<integer>16</integer>
		<key>animations</key>
		<dict>
			<key>runaway</key>
			<string>vg_256_320_BigMole_Run.plist</string>
			<key>disappear</key>
			<string>vg_256_320_BigMole_Disappear.plist</string>
			<key>attack_left</key>
			<string>vg_256_320_BigMole_Attack_Left.plist</string>
			<key>attack_right</key>
			<string>vg_256_320_BigMole_Attack_Right.plist</string>
		</dict>
		<key>isPhyxEnable</key>
		<true/>
		<key>phyfile</key>
		<string>vg_physics.plist</string>
		<key>bodyname</key>
		<string>vg_256_320_bigmole</string>
		<key>blood</key>
		<integer>5</integer>
	</dict>
</dict>
</plist>
