<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bg_full</key>
	<dict>
		<key>filename</key>
		<string>vg_4096_2048_BackGround.png</string>
		<key>x</key>
		<integer>2048</integer>
		<key>y</key>
		<integer>384</integer>
		<key>width</key>
		<integer>4096</integer>
		<key>height</key>
		<integer>2048</integer>
		<key>isVisible</key>
		<true/>
		<key>name</key>
		<string>bg</string>
		<key>z</key>
		<integer>0</integer>
		<key>tag</key>
		<integer>0</integer>
		<key>isPhyxEnable</key>
		<true/>
		<key>phyfile</key>
		<string>vg_physics.plist</string>
		<key>bodyname</key>
		<string>vg_4096_2048_background</string>
	</dict>
	<key>bg_floor1</key>
	<dict>
		<key>filename</key>
		<string>vg_128_128_floor1.png</string>
		<key>x</key>
		<integer>3584</integer>
		<key>y</key>
		<integer>64</integer>
		<key>width</key>
		<integer>128</integer>
		<key>height</key>
		<integer>128</integer>
		<key>isVisible</key>
		<true/>
		<key>name</key>
		<string>floor1</string>
		<key>z</key>
		<integer>1</integer>
		<key>tag</key>
		<integer>11</integer>
		<key>isPhyxEnable</key>
		<true/>
		<key>phyfile</key>
		<string>vg_physics.plist</string>
		<key>bodyname</key>
		<string>vg_128_128_wall1</string>
	</dict>
	<key>bg_floor2</key>
	<dict>
		<key>filename</key>
		<string>vg_768_512_floor2.png</string>
		<key>x</key>
		<integer>1664</integer>
		<key>y</key>
		<integer>-384</integer>
		<key>width</key>
		<integer>768</integer>
		<key>height</key>
		<integer>512</integer>
		<key>isVisible</key>
		<true/>
		<key>name</key>
		<string>floor2</string>
		<key>z</key>
		<integer>1</integer>
		<key>tag</key>
		<integer>12</integer>
		<key>isPhyxEnable</key>
		<true/>
		<key>phyfile</key>
		<string>vg_physics.plist</string>
		<key>bodyname</key>
		<string>vg_768_512_wall2</string>
	</dict>
</dict>
</plist>
