<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rio</key>
	<dict>
		<key>filename</key>
		<string>vg_96_128_Rio_Idle_Right.png</string>
		<key>x</key>
		<integer>256</integer>
		<key>y</key>
		<integer>192</integer>
		<key>width</key>
		<integer>96</integer>
		<key>height</key>
		<integer>128</integer>
		<key>isVisible</key>
		<true/>
		<key>isPhyxEnable</key>
		<true/>
		<key>name</key>
		<string></string>
		<key>z</key>
		<integer>3</integer>
		<key>tag</key>
		<integer>1</integer>
		<key>animations</key>
		<dict>
			<key>walk_left</key>
			<string>vg_96_128_Rio_Walking_Left.plist</string>
			<key>walk_right</key>
			<string>vg_96_128_Rio_Walking_Right.plist</string>
			<key>loud_walk_left</key>
			<string>vg_96_128_Rio_Loud_Speaker_Walk_Left.plist</string>
			<key>loud_walk_right</key>
			<string>vg_96_128_Rio_Loud_Speaker_Walk_Right.plist</string>
			<key>loud_blow_left</key>
			<string>vg_96_128_Rio_Loud_Speaker_Blow_Left.plist</string>
			<key>loud_blow_right</key>
			<string>vg_96_128_Rio_Loud_Speaker_Blow_Right.plist</string>
			<key>copter_walk_left</key>
			<string>vg_96_128_Rio_Copter_Walk_Left.plist</string>
			<key>copter_walk_right</key>
			<string>vg_96_128_Rio_Copter_Walk_Right.plist</string>
			<key>copter_fly_left</key>
			<string>vg_96_128_Rio_Copter_Fly_Left.plist</string>
			<key>copter_fly_right</key>
			<string>vg_96_128_Rio_Copter_Fly_Right.plist</string>
			<key>shield_defend_left</key>
			<string>vg_96_128_Rio_Nut_Shell_Defend_Left.plist</string>
			<key>shield_defend_right</key>
			<string>vg_96_128_Rio_Nut_Shell_Defend_Right.plist</string>
			<key>shield_walk_left</key>
			<string>vg_96_128_Rio_Nut_Shell_Walk_Left.plist</string>
			<key>shield_walk_right</key>
			<string>vg_96_128_Rio_Nut_Shell_Walk_Right.plist</string>
			<key>cross_shot_left</key>
			<string>vg_96_128_Rio_Slingshot_Attack_Left.plist</string>
			<key>cross_shot_right</key>
			<string>vg_96_128_Rio_Slingshot_Attack_Right.plist</string>
			<key>cross_walk_left</key>
			<string>vg_96_128_Rio_Slingshot_Walk_Left.plist</string>
			<key>cross_walk_right</key>
			<string>vg_96_128_Rio_Slingshot_Walk_Right.plist</string>
		</dict>
		<key>phyfile</key>
		<string>vg_physics.plist</string>
		<key>bodyname</key>
		<string>vg_96_128_rio</string>
	</dict>
</dict>
</plist>
