<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>stone1</key>
	<dict>
		<key>filename</key>
		<string>vg_256_320_Rock_1.png</string>
		<key>x</key>
		<integer>2816</integer>
		<key>y</key>
		<integer>288</integer>
		<key>width</key>
		<integer>256</integer>
		<key>height</key>
		<integer>320</integer>
		<key>isVisible</key>
		<true/>
		<key>name</key>
		<string></string>
		<key>z</key>
		<integer>1</integer>
		<key>tag</key>
		<integer>7</integer>
		<key>animations</key>
		<dict>
			<key>breaking</key>
			<string>vg_256_320_Rock.plist</string>
		</dict>
		<key>isPhyxEnable</key>
		<true/>
		<key>phyfile</key>
		<string>vg_physics.plist</string>
		<key>bodyname</key>
		<string>vg_256_320_rock_1</string>
	</dict>
</dict>
</plist>
